<h1>@ViewBag.title</h1>

<form action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            bool ischecked = @column.Key == @ViewBag.selected;
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key" 
                       checked="@ischecked"/>
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" required />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.jobs != null)
{

    <h3>@ViewBag.jobs.Count Result(s)</h3>

    // TODO #2 - Loop over jobs dictionary and display all job fields
    <table>
        @for (int i = 0; i < ViewBag.jobs.Count; i++)
        {

                @if (i == 0)
                {
                    <tr>
                    @foreach (string items in ViewBag.header)
                    {
                        <th>@items</th>

                    }
                    </tr>
                }
        <tr>
        @foreach (KeyValuePair<string, string> job in ViewBag.jobs[i])
        {
            <td> @job.Value</td>;

        }
        </tr>

        }
    </table>
}